
.vs/MLOps.NET/DesignTimeBuild/.dtbcache.v2
.vs/MLOps.NET/v16/.suo
MLOps.NET/bin/Debug/MLOps.NET.0.1.0.nupkg
MLOps.NET/bin/Debug/netstandard2.0/MLOps.NET.deps.json
MLOps.NET/bin/Debug/netstandard2.0/MLOps.NET.dll
MLOps.NET/bin/Debug/netstandard2.0/MLOps.NET.pdb
MLOps.NET/obj/Debug/MLOps.NET.0.1.0.nuspec
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.AssemblyInfo.cs
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.AssemblyInfoInputs.cache
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.assets.cache
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.csproj.CoreCompileInputs.cache
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.csproj.FileListAbsolute.txt
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.csprojAssemblyReference.cache
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.dll
MLOps.NET/obj/Debug/netstandard2.0/MLOps.NET.pdb
MLOps.NET/obj/MLOps.NET.csproj.nuget.dgspec.json
MLOps.NET/obj/MLOps.NET.csproj.nuget.g.props
MLOps.NET/obj/MLOps.NET.csproj.nuget.g.targets
MLOps.NET/obj/project.assets.json
MLOps.NET/obj/project.nuget.cache
*.nupkg
*.nuspec
MLOps.NET/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
