name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.300
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env: 
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    - name: Install dependencies
      run: dotnet restore src/MLOps.NET.sln
    - name: Build
      run: dotnet build src/MLOps.NET.sln --configuration Release --no-restore
    - name: Pack
      run: dotnet pack src/MLOps.NET.sln --configuration Release --no-build -o .
    - name: Publish packages as artifact
      uses: actions/upload-artifact@v2
      with:
        name: nuget-packages
        path: '*.nupkg'
    - name: Push Packages
      if: ${{ github.ref == 'master' && github.event_name != 'pull_request' }}
      run: dotnet nuget push **/*.nupkg --skip-duplicate --no-symbols true
    
