name: Examples-build (MLOps.NET.Examples)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  Examples-build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.300
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env: 
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    - name: Install dependencies
      run: dotnet restore examples/MLOps.NET.Examples.sln
    - name: Build
      run: dotnet build examples/MLOps.NET.Examples.sln --configuration Release --no-restore        

    
