on:
  release:
    types: [published]

name: Publish to nuget.org
          
jobs:
  build:
    name: Push packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1        
        with:
          dotnet-version: 5.0.0-rc.1.x     
      - name: Install dependencies
        run: dotnet restore MLOps.NET.sln
      - name: Build
        run: dotnet build MLOps.NET.sln --configuration Release --no-restore
      - name: Publish MLOps.NET
        uses: brandedoutcast/publish-nuget@v2.5.2
        with:
          PROJECT_FILE_PATH: src/MLOps.NET/MLOps.NET.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} 
          VERSION_STATIC: 1.0.0    
          TAG_COMMIT: false    
      - name: Publish MLOps.NET.AWS             
        uses: brandedoutcast/publish-nuget@v2.5.2
        with:
          PROJECT_FILE_PATH: src/MLOps.NET.AWS/MLOps.NET.AWS.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}  
          VERSION_STATIC: 1.0.0   
          TAG_COMMIT: false       
      - name: Publish MLOps.NET.Azure          
        uses: brandedoutcast/publish-nuget@v2.5.2
        with:
          PROJECT_FILE_PATH: src/MLOps.NET.Azure/MLOps.NET.Azure.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}  
          VERSION_STATIC: 1.0.0   
          TAG_COMMIT: false  
      - name: Publish MLOps.NET.SQLite          
        uses: brandedoutcast/publish-nuget@v2.5.2
        with:
          PROJECT_FILE_PATH: src/MLOps.NET.SQLite/MLOps.NET.SQLite.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}} 
          VERSION_STATIC: 1.0.0    
          TAG_COMMIT: false        
      - name: Publish MLOps.NET.SQLServer          
        uses: brandedoutcast/publish-nuget@v2.5.2
        with:
          PROJECT_FILE_PATH: src/MLOps.NET.SQLServer/MLOps.NET.SQLServer.csproj
          NUGET_KEY: ${{secrets.NUGET_API_KEY}}     
          VERSION_STATIC: 1.0.0
          TAG_COMMIT: false           
                                                                         
