name: Samples (MLOps.NET.Samples)

on:
  push:
    branches: [ master ]
    paths:
      - 'samples/**'  
  pull_request:
    branches: [ master ]
    paths-ignore:
      - 'samples/**'
jobs:
  Build-samples:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.300
        source-url: https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json
      env: 
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
    - name: Install dependencies
      run: dotnet restore MLOps.NET.sln
    - name: Build
      run: dotnet build ./samples/MLOps.NET.Samples/MLOps.NET.Samples.sln --configuration Release
